**/__pycache__/**
**/*.egg-info/**
dist/*
build/*
*.pyc
/examples/*
API_config/*
internship_experiments/jobs
internship_experiments/logs
internship_experiments/results
# macOS junk
.DS_Store
**/.DS_Store
